.form-wrapper {
    width: 100%;
}

.create-form {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.create-form input {
    margin-bottom: 20px;
    padding: 10px 5px;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: #2a323e;
    border: 1px solid #dfd0b8;
    color: #dfd0b8;
}

.create-form label {
    margin-bottom: 5px;
}

textarea {
    margin-bottom: 20px;
    padding: 10px 5px;
    font-size: 1.2rem;
    border-radius: 4px;
    background-color: #2a323e;
    border: 1px solid #dfd0b8;
    color: #dfd0b8;
}

button {
    padding: 12px 32px;
    font-weight: bold;
    font-size: 1.4rem;
    background-color: #f4b755;
    border-radius: 4px;
    border: 1px solid #dfd0b8;
}

button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.preview-container {
    border: 1px solid #dfd0b8;
    height: 100%;
    border-radius: 4px;
    padding: 10px;
}

.preview-wrapper {
    width: 100%;
}

p {
    margin: 0;
}

.whitespace {
    height: 20px;
    width: 100%;
}

.row-p {
    position: relative;
}

.add-comment {
    position: absolute;
    border-radius: 100%;
    color: rgb(58, 244, 216);
    top: -20px;
    font-size: 30px;
    right: 0;
    display: none;
}

.row-p:hover {
    background-color: #2e3643;
    cursor: pointer;
}

.row-p:hover .add-comment {
    display: block;
}

.comment-exist {
    background-color: #2a323e;
}

.comment-active-hide {
    position: absolute;
    border-radius: 100%;
    color: rgb(58, 244, 216);
    top: -20px;
    font-size: 30px;
    right: 0;
    display: none;
}

.comment-active-view {
    position: absolute;
    border-radius: 100%;
    color: rgb(58, 244, 216);
    top: -10px;
    font-size: 20px;
    right: 0;
}

.warning {
    background-color: red;
}

.mt-5 {
    margin-top: 20px;
}
