.App {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.App h1 {
    font-size: 3rem;
    font-weight: bold;
}

.documents-page {
    min-height: calc(100vh - 80px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.documents-page h2 {
    font-size: 40px;
}

.documents-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.documents-wrapper a {
    text-decoration: none;
    color: #dfd0b8;
}

.document {
    border: 1px solid #dfd0b8;
    width: 400px;
    padding: 0px 10px;
    border-radius: 4px;
    background-color: #2a323e;
    transition: transform 300ms ease-in-out;
    position: relative;
}

.document:hover {
    transform: scale(1.05);
}

.flex-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.flex-container button {
    width: 300px;
}

.flex-container button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.code-container {
    display: flex;
    flex: 1;
    gap: 20px;
}

.code-output-container {
    width: 50%;
}

.inner-output-container {
    border: 1px solid #dfd0b8;
    height: 60vh;
    padding: 5px;
}

.editor-container {
    width: 50%;
}

.code-wrapper {
    width: 100%;
}

.code-wrapper h2 {
    text-align: center;
}

.code-wrapper button {
    font-size: 1rem;
    padding: 8px 24px;
    width: fit-content;
}

.popup-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.583);
    z-index: 100;
}

.popup-content {
    width: 600px;
    background-color: #2a323e;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #dfd0b8;
}

.detail-color {
    background-color: #70a1eb;
}

.type {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 10px;
    margin-top: 5px;
    color: #70a1eb;
}

.shrink {
    width: 50vw;
}
